<nav class="nav-cato">
      <div class="container">
          <div class="nav-wrapper">
              <ul class="right hide-on-med-and-down">
                  <li>
                      <a href="#!" class="dropdown-trigger" data-target="dropdown2">
                          <%= current_user.name %> <%= current_user.lastname %>
                          <em class="material-icons right">arrow_drop_down</em>
                      </a>
                  </li>
              </ul>
              <!--a href="/" class="brand-logo right">Logo</a-->
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                  <li><%= link_to "Eventos", events_path %></li>
                  <li>
                    <a href="#!" class="dropdown-trigger" data-target="users-drop">
                        Usuarios
                        <em class="material-icons right">arrow_drop_down</em>
                    </a>
                  </li>
                  <li><a href="/documents">Documentos</a></li>
              </ul>
          </div>
      </div>
  </nav>

<ul id="dropdown2" class="dropdown-content">
    <li>
        <%= link_to 'Modificar mis datos', edit_user_registration_path %>
    </li>
    <li><a href="/users/change_password">Cambiar contraseña</a></li>
    <li class="divider"></li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
          Salir
          <em class="material-icons right">directions_run</em>
      <% end %>
    </li>
</ul>

<ul id="users-drop" class="dropdown-content">
    <li><%= link_to "Lista de usuarios", users_path %></li>
    <li><%= link_to "Crear usuario", new_user_path %></li>
</ul>